@media screen and (max-width:830px) {

header nav.desktop {
   display:none;
}

nav.nav-mobile {
   display:block;
}


.text-banner {
    padding:40px;
}

}

@media screen and (max-width:768px){
section.banner {
   height:95vh;
}
}

@media screen and (max-width:580px){

section.veiculos-destaque .container {
    max-width:1000px;
    padding: 40px 0;
    text-align: center;
}


.vitrine-destaque {
   display:inline-block;
    float:none;
    width:50%;
    margin-top: 2rem;
   
}
}



@media screen and (max-width:520px){
.text-banner {
   display: flex;
   align-items: center;
   flex-direction: column;
}

.text-banner-single:nth-of-type(2) {
    width: 300px;
 
}

.text-banner-single:nth-of-type(3) {
    width: 300px;
  
}

.text-banner-single:nth-of-type(4) {
   font-size:1.5rem;
    width: 300px;
    
}
}

@media screen and (max-width:580px) {
.vitrine-destaque {
    width:80%;
   
}
}
