
@import "./color.css";
@import "./fonts.css";

.container {
    width: 100%;
    max-width: 1200px;
    margin:0 auto;
}

.clear {
    clear: both;
}

header {
    padding:20px 2% 35px 2%;
}

header .logo {
    float:left;
    position: relative;
    top:20px;
}

header .logo img {
    width:140px;
}

header nav.desktop {
    float: right;
    position: relative;
    top:30px;
}

header nav.desktop ul {
    list-style-type:none;
}

header nav.desktop ul li {
    float:left;
    padding:0 15px;
    font-size:1.3rem;
}

header nav.desktop ul li a {
    color:var(--color-one);
    font-family:var(--font-oswald);
    font-style:italic;
    transition: .1s;
    text-decoration:none;
}

header nav.desktop ul li a:hover {
   color: var( --color-tree);
}

nav.nav-mobile {
    display:none;
    width:32px;
    height:32px;
    float:right;
    margin-top:2rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}


nav.nav-mobile ul {
    display:none;
    width: 100%;
    position:absolute;
    top:110px;
    left:0;
    background-color: var(--color-two);
    border-bottom: 4px solid var(--color-tree);
    text-align: center;
    list-style-type:none;
    z-index: 9999;
}

nav.nav-mobile ul li {
color: var(--color-one);
padding:20px  0 ;
font-size:1.3rem;
border-bottom: 1px solid var(--color-one);
}

nav.nav-mobile ul li:hover {
    background-color:var(--color-four);
}

nav.nav-mobile ul li:hover a {
    color: var(--color-tree);
}

nav.nav-mobile ul li a {
    color:var(--color-one);
    font-family:var(--font-oswald);
    font-style:italic;
    transition: .1s;
    text-decoration:none;
}

section.banner {
    width:100%;
    height:77vh;
    background-color:var(--color-one);
    background-repeat: no-repeat;
    background-position:right bottom;
    background-size: contain;
}

.text-banner {
    padding: 50px;
}

.text-banner-single {
    color: var(--color-two);
    width: 300px;
    height:60px;
    margin-top:1.3rem;
    font-size:1.7rem;
    font-style:italic;
    text-transform: uppercase;
    font-family:var(--font-oswald);
    padding:10px 30px;
    background-size:100% 100%;
}

.text-banner-single:nth-of-type(2) {
    width: 200px;
    position: relative;
    left:-10px;
}

.text-banner-single:nth-of-type(3) {
    width: 160px;
    position: relative;
    left:-20px;
}

.text-banner-single:nth-of-type(4) {
    color: var(--color-one);
    font-size:1.5rem;
    width: 320px;
    position: relative;
    left:-30px;
}

section.veiculos-destaque {
    padding:90px 2%;
}

section.veiculos-destaque  h2  {
    font-size: 1.8rem;
    font-family: var(--font-oswald);
    text-transform: uppercase;
    background-color:var(--color-two);
}

.line-titulo {
    position: relative;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}
